<html>
<head>
    <title>Print ticket - {{ ticket.event.name }}</title>
    {% stylesheets '../app/Resources/public/css/*.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ ticket.event.name }} - {{ ticket.event.date|date("d.m.Y") }}</h3>
                </div>
                <div class="panel-body">
                    <div class="col-xs-12 col-sm-4">
                        <a href="{{ path('ticket', {'ticket': ticket.code, 'code': ticket.event.code}) }}">
                            <img src="{{ qrcode_url(app.request.getSchemeAndHttpHost() ~ path('ticket', {'ticket': ticket.code, 'code': ticket.event.code}),extension='png') }}"/>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <h4>Name: {% if ticket.nameonticket %}{{ ticket.nameonticket }}{% else %}anonymous{% endif %}</h4>
                        <h4>Issued on: {{ ticket.soldTime|date("d.m.Y H:i") }}</h4>
                        <p>{{ ticket.event.text|nl2br }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>