{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-sm-4">

            <div class="panel panel-default">
                <div class="panel-heading">Send ticket</div>
                <div class="panel-body">
                    {{ form_start(form) }}

                    <div class="row">
                        <div class="col-xs-12">{{ form_label(form.email) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-field">
                            {{ form_widget(form.email, {'attr': {'class':'form-control'}}) }}
                            {{ form_errors(form.email) }}
                        </div>
                    </div>

                    <div class="row form-row">
                        <div class="col-xs-12">
                            {{ form_row(form.sendTicket, {'attr': {'class':'btn btn-primary'}}) }}
                        </div>
                    </div>

                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>

    <a href="{{ url('event', {'code': ticket.event.code}) }}" class="btn btn-default">Back to event</a>

{% endblock %}
