{% extends 'base.html.twig' %}

{% block body %}
    <div class="row create-event-form-container">
        <div class="col-sm-4">&nbsp;</div>
        <div class="col-xs-12 col-sm-4">

            <h4>Status: {% if ticket.checkedIn %}Checked in{% else %}Checked out{% endif %}</h4>
            <h4>Ticket owned by: {% if ticket.nameOnTicket %}{{ ticket.nameOnTicket }}{% else %}anonymous{% endif %}</h4>
            <h4>Paid:
                {% if ticket.paid %}
                    <span class="label label-success">Yes</span>
                {% else %}
                    <span class="label label-danger">No</span>
                    {{ form_start(paidForm, {'attr': {'onsubmit': 'return confirm("Is this ticket really paid?");'}}) }}
                    <div class="row form-row">
                        <div class="col-xs-12">
                            {{ form_row(paidForm.SetPaid, {'attr': {'class':'btn btn-success btn-xs'}}) }}
                        </div>
                    </div>
                    {{ form_end(paidForm) }}
                {% endif %}
            </h4>
            <h4>Generated: {{ ticket.soldTime|date("d.m.Y H:i") }}</h4>

            {% if ticket.checkedIn %}
                {{ form_start(checkoutForm) }}
                <div class="row form-row">
                    <div class="col-xs-12">
                        {{ form_row(checkoutForm.CheckOut, {'attr': {'class':'btn btn-danger btn-lg'}}) }}
                    </div>
                </div>
                {{ form_end(checkoutForm) }}
            {% else %}
                {% if ticket.paid %}
                {{ form_start(checkinForm) }}
                    {% else %}
                        {{ form_start(checkinForm, {'attr': {'onsubmit': 'return confirm("Ticket is not paid. Do you really want to check in?");'}}) }}

                        {% endif %}
                <div class="row form-row">
                    <div class="col-xs-12">
                        {{ form_row(checkinForm.CheckIn, {'attr': {'class':'btn btn-success btn-lg'}}) }}
                    </div>
                </div>
                {{ form_end(checkinForm) }}
            {% endif %}

        </div>
    </div>
{% endblock %}
