{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-3 col-md-4">&nbsp;</div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            {{ form_start(form) }}

            <div class="form-group{% if form.name.vars.errors|length %} has-error has-feedback{% endif %}">
                <div class="row">
                    <div class="col-xs-12">{{ form_label(form.name, null, {'label_attr': {'class':'control-label'}}) }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-12 form-field">
                        {{ form_widget(form.name, {'attr': {'class':'form-control'}}) }}
                        {{ form_errors(form.name, {'attr': {'class':'form-control'}}) }}
                    </div>
                </div>
            </div>

            <div class="form-group{% if form.password.password.vars.errors|length %} has-error has-feedback{% endif %}">
            <div class="row form-row">
                <div class="col-xs-12">{{ form_label(form.password, null, {'label_attr': {'class':'control-label'}}) }}</div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-field">
                    {{ form_widget(form.password.password, {'attr': {'class':'form-control'}}) }}
                    {{ form_errors(form.password.password) }}
                </div>
            </div>
                </div>

            <div class="row form-row">
                <div class="col-xs-12">{{ form_label(form.password.confirm) }}</div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-field">
                    {{ form_widget(form.password.confirm, {'attr': {'class':'form-control'}}) }}
                    {{ form_errors(form.password.confirm) }}
                </div>
            </div>

            <div class="row form-row">
                <div class="col-xs-12">{{ form_label(form.date) }}</div>
            </div>
            <div class="row">
                <div class="col-xs-4">{{ form_widget(form.date.day,{'attr':{'class':'form-control'}}) }}</div>
                <div class="col-xs-4">{{ form_widget(form.date.month,{'attr':{'class':'form-control'}}) }}</div>
                <div class="col-xs-4">{{ form_widget(form.date.year,{'attr':{'class':'form-control'}}) }}</div>
            </div>

            <div class="row form-row">
                <div class="col-xs-12">
                    {{ form_row(form.create, {'attr': {'class':'btn btn-primary btn-block btn-lg'}}) }}
                </div>
            </div>




            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
