{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ event.name }}</h1>
            <h4>Date: {{ event.date|date("d.m.Y") }}</h4>

            <div class="hidden-xs">
                <h4>{{ app.request.getSchemeAndHttpHost() }}{{ app.request.requesturi }}</h4>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <h3>Create new Ticket</h3>
            {{ form_start(ticketForm) }}

            <div class="row">
                <div class="col-xs-12">{{ form_label(ticketForm.nameOnTicket) }}</div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-field">
                    {{ form_widget(ticketForm.nameOnTicket, {'attr': {'class':'form-control'}}) }}
                    {{ form_errors(ticketForm.nameOnTicket) }}
                </div>
            </div>

            <div class="row form-row">
                <div class="col-xs-12 form-field">
                    {{ form_widget(ticketForm.paid) }}
                    {{ form_label(ticketForm.paid) }}
                </div>
            </div>

            <div class="row form-row">
                <div class="col-xs-12">
                    {{ form_row(ticketForm.createTicket, {'attr': {'class':'btn btn-primary'}}) }}
                </div>
            </div>

            {{ form_end(ticketForm) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">

            {% if tickets %}
                <h3>Tickets</h3>
            {% endif %}

            <div class="panel-group" id="accordion">
                {% for ticket in tickets %}
                    {% if ticket.checkedIn %}
                        {% set ticketClass = 'success' %}
                    {% else %}
                        {% if ticket.paid %}
                            {% set ticketClass = 'info' %}
                        {% else %}
                            {% set ticketClass = 'danger' %}
                        {% endif %}
                    {% endif %}
                    <div class="panel panel-{{ ticketClass }}" id="panel-{{ ticket.code }}">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-target="#collapse-{{ ticket.code }}"
                                   href="#collapse-{{ ticket.code }}">
                                    {{ ticket.soldtime|date("d.m.Y H:i") }}
                                    - {% if ticket.nameonticket %}{{ ticket.nameonticket }}{% else %}anonymous{% endif %}
                                </a>
                            </h4>

                        </div>
                        <div id="collapse-{{ ticket.code }}" class="panel-collapse collapse out">
                            <div class="panel-body">
                                <div class="col-xs-12 col-sm-4">
                                    <a href="{{ app.request.getSchemeAndHttpHost() }}{{ app.request.requesturi }}/ticket/{{ ticket.code }}">
                                        <img src="{{ qrcode_url(app.request.getSchemeAndHttpHost() ~ app.request.requesturi ~ '/ticket/' ~ ticket.code,extension='png') }}"/>
                                    </a>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <h4>Status: {% if ticket.checkedIn %}Checked in{% else %}Checked out{% endif %}</h4>
                                    <h4>Ticket owned by: {{ ticket.nameonticket }}</h4>
                                    <h4>
                                        Ticket paid: {% if ticket.paid %}
                                            <span class="label label-success">Yes</span>
                                        {% else %}
                                            <span class="label label-danger">No</span>
                                        {% endif %}
                                    </h4>
                                    <h4>Generated: {{ ticket.soldTime|date("d.m.Y H:i") }}</h4>
                                    <a href="{{ url('ticket_print', {'code': ticket.event.code, 'ticket': ticket.customerCode}) }}" target="_blank" class="btn btn-warning print-ticket">Print ticket</a>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
